@charset "utf-8";
.lab-cabecalho-titulo {
	text-align: center;
}

.lab-cabecalho-titulo h1{
	font-size: 14px;
}

.lab-cabecalho-titulo h2{
	font-size: 12px;
}

.lab-cabecalho-titulo h3{
	font-size: 12px;
}

.lab-cabecalho-endereco {
	/*text-align: left;*/
	font-size:10px;
	font-weight: normal;
}

.lab-cabecalho-endereco_login {
	text-align: center;
	font-size:10px;
	font-weight: normal;
}

.limpa {
	clear: both;
	height:.1em;
	font-size:.1em;
}

.imglogo{max-width:700px;}

.img_assinatura{
	max-width:230px;
	max-height:117px;
    margin-left: auto;
    margin-right: auto;

}

.imgrodape{max-width:700px;} 



